@font-face {
    font-family: "Akira Expanded Demo";
    src: url("fonts/Akira\ Expanded\ Demo.otf");
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background-image: url("images/background-img-1.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
}
main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), 80%, rgba(0, 0, 0, 0.2));
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    padding: 38px 0px 0px 107px;
}
.navbar-logo img {
    height: 60px;
    width: auto;
}
.navbar-links {
    padding: 38px 107px 0px 0px;
    display: flex;
    font-family: "DM Sans";
    gap: 20px;
}
.navbar-links a {
    color: #B0B0B0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}  
.mid-content{
    text-align: center;
    margin-top: 10%;
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #B0B0B0;
}
.disabled{
    cursor: not-allowed;
}
.button{
    font-family: "DM Sans";
    font-size: 17px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    width: 210px;
    height: 56px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    margin-top: 10px;
}
.click-here{
    width: 228px;
    height: auto;
    transform: rotate(-75deg);
    margin: -75px 0px 0px -250px;
}
.mid-content p{
    font-family: "DM Mono";
    color: #B0B0B0;
    font-size: 18px;
    letter-spacing: 4.5px;
}
.mid-content h1{
    font-family: "Akira Expanded Demo";
    color: white;
    line-height: 1;
    padding: 10px 0px;
}
.span-1{
    letter-spacing: 4.5px;
    font-size: 32pt;
}
.span-2{
    display: inline-block;
    letter-spacing: 2px;
    font-size: 55pt;
    transform: scale(1.2, 1.2);
    background: linear-gradient(135deg, white 5%, rgba(255, 255, 255, 0.795) 65%,rgb(0, 0, 0) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-1{
    background-image: url(images/section1-back2.jpg);
    background-size: cover;
    height: 607px;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    filter: saturate(175%) contrast(85%);
}
.gradient-style{
    background-image: linear-gradient(to bottom, #FF9900 1%, #F0D213 95%);
    height: 121px;
}
.about-text{
    margin-left: 100px;
    text-align: center;
    margin-top: -40px;
}
.about-text p{
    font-family: "DM Mono";
    font-size: 23px;
    padding: 10px 0px;
    line-height: 1.2;
}
.about-text img{
    width: 600px;
    height: auto;
}
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:60vh;
    background-image: linear-gradient(to bottom, black -35%, white 15%);
    text-align: center;
}
.section-2 p{
    padding: 10px 0px;
}
.section-3{
    height: 76vh;
    display: flex;
    background-image: linear-gradient(215deg, #FFB084 0%, #F97124, #FF004D 85%);
}
.IEEE-info{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0px 131px;
    justify-content: center;
    line-height: 1;
    
}
picture{
    overflow: hidden;
    margin-top: 30px;
    margin-left: 100px;
}
footer{
    background-color: black;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 280px;
    height: auto;
}

/* @media screen and (max-width: 850px){
    .span-1{
        font-size: 24pt;
    }
    .span-2{
        font-size: 41.25pt;
    }
    .mid-content p{
        font-size: 15px;
    }
    .button{
        font-size: 15px;
        width: 200px;
        height: 53px;
    }
} */

/* @media screen and (max-width: 750px){
    .span-1{
        font-size: 20pt;
    }
    .span-2{
        font-size: 41.25pt;
    }
    .mid-content p{
        font-size: 15px;
    }
    .button{
        font-size: 15px;
        width: 200px;
        height: 53px;
    }
} */